{:project-formatted-name "trlisp"
 :copyright-holder "Brad Losavio"

 :changelog-UUID #uuid "037e9c57-9a2f-418e-a6e5-b6828b88293e"

 :changelog-html-directory "doc/"
 :changelog-html-filename "changelog.html"

 :changelog-markdown-directory ""
 :changelog-markdown-filename "changelog.md"

 :changelog-entries-directory "resources/changelog_entries/"
 :changelog-data-file "changelog.edn"

 :tidy-html? true}