{:date {:year 2025
        :month "May"
        :day 31}
 :responsible {:name "Brad Losavio"
               :email "blosavio@sagevisuals.com"}
 :version 0
 :comment "Initial public release."
 :project-status :active
 :stable false
 :urgency :low
 :breaking? nil
 :changes []}