@charset "utf-8";

/* CSS for navigation, footers, code side-by-sides, etc */

dt {
    font-weight: bold;
}


#page-footer {
    font-size: 100%;
    opacity: 70%
}

#uuid {
    display: none;
}

.side-by-side-container {
    display: flex;
}

.side-by-side {
    width: 50%;
    margin-right: 2rem;
}

.side-by-side code {
    overflow-x: visible;
    margin: 0;
}

.small-caps {
    font-variant: small-caps;
}

span.totally-not-mail r {
    display: none;
}

.centered {
    text-align: center;
}

.business-card {
    box-sizing: border-box;
    width: 90mm;
    height: 55mm;
    padding: 0mm;
    border: 2px solid lightgray;
    text-align: left;
    margin: auto;
    position: relative;
}

.business-card ol {
    padding-left: auto;
    padding-right: auto;
}

.business-card li {
    font-size: 85%;
}

.business-card li + li {
    margin-top: 03px;
}

.business-card-container {
    width: 55%;
}

.sticky-note {
    width: 76mm;
    height: 76mm;
}

.sticky-note p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.sticky-note ol {
    margin-top: 5px;
    margin-bottom: 0px;
    padding-left: 25px;
}

.de-highlight {
    color: gray;
    font-weight: lighter;
}

.highlight {
    color: red;
    font-weight: bold;
    font-size: 120%;
}

.tight {
    width: 25%;
}

.c1 {
    color: red;
}

.c2 {
    color: blue;
}

.c3 {
    color: green;
}

.c4 {
    color: #ff8c00; /* darkorange; */
    /* color: #bf5700;*/ /* burnt orange */
}

.no-display {
    display: none;
}

.wide-title {
    width: 100%;
}

pre {
    background-color: whitesmoke;
}

code {
    background-color: whitesmoke;
}

body {
    width: 50em;
    max-width: max-content;
    margin: auto;
    font-size: 12pt;
}

.wide-body {
    width: 80rem;
}
